{% extends "blog/base.html" %}

{% block title %} RSVP {% endblock %}

{% block header %}
<h1>RSVP</h1>
{% endblock %}

{% block content %}
<h2>Hello, {{ invitation.invitee.display_name }}</h2>
{% if has_visited %}
<p class="notice">You've already responded, but you can update your response below.</p>
{% endif %}
<p>You are invited to {{ invitation.event.name }}</p>
<address>
  <p>
    <small>{{ invitation.event.start_time|date:"F j, Y, P" }}<br>{{ invitation.event.location }}</small>
  </p>
</address>
<form method="post" action="{% url 'rsvp' invitation.unique_id %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>
{% endblock %}
