<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles/simple.css' %}">
    <link rel="stylesheet" href="{% static 'core/styles/overrides.css' %}">
    <title>{% block title %}willdorff.us{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
      {% block header %}
      <h1>willdorff.us</h1>
      {% endblock %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
