/* Global variables. */
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  --simple-bg: #fff;
  --simple-text: #212121;
}

.ck-content>h1,
.ck-content>h2,
.ck-content>h3,
.ck-content>h4,
.ck-content>h5,
.ck-content>h6,
.ck-content>p {
  color: var(--simple-text);
  background-color: var(--simple-bg);
  font-size: 1.15rem;
  line-height: 1.5;
}

/* Format headers */
.ck-content>h1 {
  font-size: 3rem;
  font-weight: bold;
}

.ck-content>h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
  font-weight: bold;
}

.ck-content>h3 {
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: bold;
}

.ck-content>h4 {
  font-size: 1.44rem;
  font-weight: bold;
}

.ck-content>h5 {
  font-size: 1.15rem;
  font-weight: bold;
}

.ck-content>h6 {
  font-size: 0.96rem;
  font-weight: bold;
}

.ck-content>p {
  margin: 1.5rem 0;
}
