/* Global variables. */
:root,
::backdrop {
  /* Default (light) theme */
  --accent: #0da132;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    --accent: #7b00ff;
  }
}

/* Classes for errors */
.errorlist {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
  list-style-type: none;
}
